{% extends "base.html" %}

{% block title %}Página principal DTechnology{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}

<h1 class="heading">Catálogo</h1>
<form method="post" action="{% url 'home' %}" class="filter-form d-flex justify-content-around row">
    {% csrf_token %}
    <input class="form-control selects-shop" type="text" placeholder="Buscar producto" aria-label="Buscar" name="search-product">
    {% include "components/all_sections.html" with cat=categories dep=departments prod=producers act_cat=active_cat act_dep=active_dep act_prod=active_prod %}
    <button class="btn btn-success btn-filter" type="submit" name="filter">Buscar</button>
</form>
<div class="container mt-5 pt-5">
    {% if messages %}
    <ul class="messages alert alert-warning" role="alert">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% for list in listOfList %}
    <div class="catalog-row row">
        {% for product in list %}
        <div class="col-md-3">


            <div class="card card-producto">
                <a href="#">
                    <img class="card-img-top" src={{product.image}}>
                </a>
                <div class="card-body">
                    <a href="#">
                        <h3 class="card-title">{{product.title}}</h3>
                    </a>
                    <div class="row mb-4">
                        {% if product.discount_price %}
                            <div class="col-md-6">
                                <div class="price card-text text-muted text-strike">{{product.price}}€</div>
                            </div>
                            <div class="col-md-6">
                                <div class="discount-price price card-text text-danger">{{product.discount_price}}€</div>
                            </div>
                        {% else %}
                            <div class="col-md-6">
                                <div class="price card-text text-muted">{{product.price}}€</div>
                            </div>
                        {% endif %}

                    </div>
                    {% comment %} {% if product.get_stock > 0 %}
                    <div class="d-flex justify-content-center mb-2 btn btn-info">
                        {{ product.get_stock }} unidades disponibles
                    </div>
                    {% else %}
                    <div class="invisible d-flex justify-content-center mb-2 btn btn-danger">
                        {{ product.get_stock }} unidades disponibles
                    </div>
                    {% endif %} {% endcomment %}
                    <form method="post" action="{% url 'home' %}" class="row">
                        {% csrf_token %}

                        <div class="card-select col-md-4">
                            <div class="form-outline">
                                <input type="number" name="quantity" class="form-control" value="1" min="1" max="100"/>
                                <input type="hidden" name="product_id" value={{product.id}}>
                            </div>
                        </div>
                        {% if product.is_sold_out %}
                        <div class="col-md-8 d-flex justify-content-end">
                            <span class="badge badge-danger">Agotado</span>
                        </div>
                        {% else %}
                        <div class="col-md-8 d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-primary align-right" name="add_to_cart">Añadir al carrito</button>
                        </div>
                        {% endif %}

                    </form><!--form-->
                    
                </div>
            </div> <!-- card -->


        </div> <!-- col -->
        {% endfor %}
    </div> <!-- row -->
    {% endfor %}

</div>

{% endblock %}