{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/policy.css' %}">

<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Política de devolución</title>
</head>

<body>
    <div class="policy-container">
        <h1>Política de devolución de productos</h1>

        <p>Los productos adquiridos en nuestra empresa no son reembolsables. Una vez que un producto ha sido comprado y
            recibido por el cliente, no se aceptarán devoluciones ni se realizarán reembolsos.</p>
        <p>Si un producto llega dañado o defectuoso, el cliente debe ponerse en contacto con nuestro equipo de atención
            al cliente dentro de los primeros cinco días hábiles después de haber recibido el producto. Tras revisar el
            problema, determinaremos si es apropiado reemplazar el producto o ofrecer un crédito en nuestra tienda.</p>
        <p>En resumen, nuestra política es no reembolsar dinero por productos comprados en nuestra empresa. Si tiene
            alguna pregunta o inquietud sobre esta política, no dude en ponerse en contacto con nosotros. Estamos
            dispuestos a ayudarlo en lo que podamos.</p>
    </div>
</body>

</html>