{% extends "base.html" %}

{% block title %}Pedido DTechnology{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/order.css' %}">

{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages alert alert-warning" role="alert">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>Introduce tus datos</h1>


<form class="card order-form" action="/order/" method="post">
    {% csrf_token %}
    <div class="form-inputs">
        {{ form }}
    </div>
    
    <div class="form-submit">       
        <button type="submit" class="btn btn-success">Procesar el pago</button>
    </div>
</form>


{% endblock %}