/* Base template styles */

.content {
    overflow: hidden;
    margin-bottom: 5rem;
}

.text-strike {
    text-decoration: line-through;
}

.heading {
    display: flex;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    font-family: inherit;
    padding-left: 4rem;
    padding-top: 4rem;
}

#cart-btn {
    margin: 0 1rem;
}

.cart-counter {
    position: absolute;
    width: 25px;
    top: 0.3rem;
    right: 1rem;
    background-color: #ee0f0f;
    border-radius: 50%;
    color: var(--clr-white);
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 700;
    display: grid;
    place-content: center;
}