*{
    font-family: Arial;
}
.card-title{
    font-size: 1.2rem;
    font-weight: 700;
}
.card-body{
    background-color: rgb(245, 245, 245);

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

  