/* display form in center display */
.order-form {
    margin: 0 auto;
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f3f3f3;
}

/* display inputs in column */
.order-form input {
    display: block;
    margin: 5px 0;
    width: 100%;
}

.order-form select {
    display: block;
    margin: 5px 0;
    width: 100%;
}

h1{
    text-align: center;
    margin-top: 0.4rem;
}