.order-form > div {
    padding-inline: 3rem;
    padding-top: 2rem;
}

.total-price {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
}

.total-price :first-child {
    margin-right: 4rem;
}