<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Links  -->
    <section class="p-4 border-top">
        <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                DTechnology
            </h6>
            <p>
                DTechnology es una de las 100 mayores empresas de España. La compañía, con sede en Sevilla, es un líder global en el comercio electrónico. Con un progreso significativo en la oferta, en los sitios web y en la red internacional de distribución y servicio al cliente.
            </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Enlaces de utilidad
            </h6>
            <p>
                <a href="/contact" class="text-reset">Atención al cliente y datos de la empresa</a>
            </p>
            <p>
                <a href="/terms" class="text-reset">Términos y condiciones de uso</a>
            </p>
            <p>
                <a href="/privacy" class="text-reset">Política de privacidad</a>
            </p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="#">DTechnology</a>
    </div>
    <!-- Copyright -->
    </footer>