<nav class="navbar navbar-expand-lg bg-navbar">
    <div class="container-fluid">
      
      <div class="d-flex justify-content-center">
        <img class="icon-web bg-light rounded-2" src="../../static/images/icon.png" alt="E-commerce icon">
        <a class="navbar-brand fw-bold fst-italic text-light text-start" href="#">
          DTechnology
        </a>
      </div>
      <div class="mobile-screen">
        {% include "components/shopping_cart.html" %}
      </div>
      <button class="navbar-toggler bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center flex-search" id="navbarSupportedContent">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar producto" aria-label="Buscar">
          <button class="btn btn-success fw-bold" type="submit">Buscar</button>
        </form>
      </div>
      <div class="pc-screen">
        {% include "components/shopping_cart.html" %}
      </div> 

    </div>
</nav>